body {
  min-height: 790px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #FEEBDF;
  color: #4D4848;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  background-color: #fff;
  position: relative;
  z-index: 50;
}

.headLine {
  height: 60px;
  padding: 20px 5.33333% 0;
  margin-bottom: 7px;
}

.headLine .logo {
  width: 200px;
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}
.topText{
  font-size: 14px;
    padding: 15px 0 4px;
    text-align: center;
    font-weight: 700;
    letter-spacing: .05em;
    position: relative;
    top: -20px;
    -webkit-transition: .4s;
    transition: .4s;
    border-style: none;
    margin-top: 30px;
}
.topText img {
  max-width: 86%;
  margin: 0 auto;
  border-style: none;
}
.topText p {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', sans-serif;
  max-width: 600px;
}
.center{
  height: 55px;
  background-color: #DE5E00;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  position: relative;
  padding-top: 0;
}
.bar {
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  width: 78%;
  margin: 12px 65px;
}
.bar-text {
  position: absolute;
  top: 28px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.prev {
  padding-right: 254px;
}
.msg{
  letter-spacing: .05em;
  position: absolute;
  left: 50%;
  bottom: 16px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h1 {
  font-weight: 100;
}